<ion-header>
  <ion-toolbar>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-row>
      <ion-item *ngFor="let project of projProject">
        <ion-grid>
          <ion-row>
            <ion-col>
              {{project.title}}
            </ion-col>
            <ion-col>
              {{project.desc}}
            </ion-col>
            <ion-col>
              {{project.start | date: 'dd.MM.yyyy'}}
            </ion-col>
            <ion-col style="margin-left: 50px"> bis
            </ion-col>
            <ion-col>
              {{project.end | date: 'dd.MM.yyyy'}}
            </ion-col>
            <ion-col>
              <ion-input type="text" #taskname placeholder="New Task"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input type="text" #taskresponsible placeholder="Responsible"></ion-input>
            </ion-col>
            <ion-button (click)="addTask(project, taskname.value, taskresponsible.value);taskname.value = '';taskresponsible.value='' " style="margin-left: auto">Add Task</ion-button>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-row>
  </ion-list>
  <ion-toolbar>
      <ion-title>Tasks</ion-title>
    </ion-toolbar>
  <ion-list>
      <ion-item *ngFor="let task of allTasks">
        <ion-row>
          <div *ngIf="task.project !== null">
          {{task.project.title}}
        </div>
        </ion-row>
        <ion-row style="margin-left: 10px">
            -
          </ion-row>
            <ion-row>
              {{task.name}}
            </ion-row>
            <ion-row style="margin-left: 10px">
              -
            </ion-row>
            <ion-row style="margin-left: 10px">
              {{task.responsible}}
            </ion-row>
      </ion-item>
  </ion-list>
</ion-content>