<ion-header>
  <ion-toolbar>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-row >
         <ion-list>
           <ion-item *ngFor="let project of projProject">
             <ion-grid>
               <ion-row>
                 <ion-col >
                   {{project.title}}
                 </ion-col>
                 <ion-col>
                   {{project.desc}}
                 </ion-col>
                 <ion-col>
                    {{project.start | date: 'dd.MM.yyyy'}} 
                 </ion-col>
                 <ion-col style="margin-left: 50px">     bis
                </ion-col>
                 <ion-col>
                    {{project.end | date: 'dd.MM.yyyy'}}
                 </ion-col>
                 <ion-col>
                  <ion-input type="text" placeholder="New Task"></ion-input>
                 </ion-col>
                 <ion-col>
                  <ion-input type="text" placeholder="Responsible"></ion-input>
                 </ion-col>
                  <ion-button style="margin-left: auto">Add Task</ion-button>
               </ion-row>
             </ion-grid>
           </ion-item>
         </ion-list>
       </ion-row>
</ion-list>
</ion-content>
